@model TSSMARTIFYOnlineMart.Models.Cart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AfterLoginLayoutVendor.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseQTY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
